main{
    background: -webkit-linear-gradient(to right, #FFFF00, #00FFFF );
	background: linear-gradient(to right, #FFFFFF, #00FFD0 );
    font-family: fantasy;
  
}
#perfilcontenedor{
    display:flex;
    overflow: auto;
    flex-direction: column;
    justify-content: flex-start;
    align-content: space-around;
}

#perfilanimalcontenedor{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow:1;
}

#contenedorNombre{
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    gap: 20%;
    
    background: #f2f2f2;
    border-radius:0.5em;
    border: 3px solid white;
}

#contenedorImagen{
    display:flex;
    flex-direction: column;
}

#contenedorImagen .perfilUser{
    border: 2px solid #4f4a41;
    padding: 2px;
    max-width: 320px;
    border-radius: 1em;
    max-height: 250px;
    min-height: 300px;
    min-width: 320px;
    background-color: #254e58;
    box-shadow:inset 2px 2px 4px rgba(120, 120, 120, .4), inset -3px -3px 3px rgba(255,255,255,.4);
}

#contenedorImagen .perfilAnimal{
    border: 2px solid #4f4a41;
    padding: 2px;
    border-radius: 1em;
    width: 50em;
    height: auto;

    background-color: #254e58;
    box-shadow:inset 2px 2px 4px rgba(120, 120, 120, .4), inset -3px -3px 3px rgba(255,255,255,.4);
}

#cabeceraDatos{
    display:flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    gap:10%;
    
}
#cambiarFotoContenedor{
    max-width: 200px;
    max-height: 200px;
}

#contenedorNameApellido{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    color:#3b945e;
    font-size:xx-large;
    gap:10px;
    padding-left: 2cm;
  
}
#contenedorNameAnimal{
    display:flex;
    color:#3b945e;
    font-size:xx-large;
    padding-left: 2cm;
  
}
#separado{
    display:flex;
    color:red;
    justify-content: flex-start;
    font-size:xx-large;
}
#contenedorDatos{
    display: flex;
    border-radius:0.5em;
    font-size: large;
    padding: 3px;
    color: white;
    background-color: #254e58;
    border: 3px solid white;
    flex-grow: 1;
    flex-direction: row;
    gap: 30%;
    flex-wrap: wrap;
}
#contenedorDatosAnimal{
    display: flex;
    border-radius:0.5em;
    font-size: large;
    color: white;
    flex-grow: 1;
    flex-direction: column;
    gap: 2%;

    align-items: center;
    flex-wrap: wrap;
}
#perfilAnimalDerecha{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius:0.5em;
    background-color: #254e58;
    border: 3px solid white;
    flex-grow: 1;
}
#contenedorDatosDerecha{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

#contenedorDatosIzquierda{
    display:flex;
    padding-left: 3px;;
    flex-direction: column;
    gap: 20px;
}

#botonesContenedor{
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    padding-bottom: 1em;
}

#botonesContenedor .boton{
   text-decoration: none;
   background-color: rgba(70, 63, 63, 0.507);
   color: white;
   font-size: 1.25rem;
   padding: 1rem 1.25rem;
   border-radius: 3px;
   margin-right: 0.75em;
   flex-shrink: 0;
   transition: 0.3s ease-in;
}

#botonesContenedor .boton:hover{
    box-shadow: 7px 7px #232323;
    transform: scale(1.1);
}
